/**
 * coolors.co/1c1435-5e548e-9f86c0-be95c4-e0b1cb
 */

.project-component {
  background-color: #ffffff;
}

.close-portfolio {
  margin: 0 0 0 15px;
  font-size: 18px;
  font-weight: bold;
}

.project-responsive-mock,
.branding-project-responsive-mock {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 3px 3px rgba(94, 84, 142, 0.7);
}

.project-responsive-mock:hover {
  opacity: 0.7;
}

.project-title,
.branding-project-title {
  text-align: center;
  color: #5E548E;
  margin: 10px 0 auto;
  padding-top: 5px;
  font-size: 45px;
  font-weight: 600;
  text-decoration: none;
  line-height: 35px;
}

.project-title:hover {
  text-decoration: underline;
}

.project-tagline {
  font-style: italic;
  font-size: 18px;
  margin: 5px auto 25px;
  color: #1c1435;
}

.project-services {
  font-size: 17px;
  letter-spacing: 1px;
  margin: 15px 0;
  color: #9F86C0;
}

.project-summary,
.design-project-summary {
  font-weight: 300;
  margin-top: 10px;
}

.project-responsive-mock-2 {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 3px 3px rgba(94, 84, 142, 0.7);
}

.live-portfolio-par {
  padding: 9px;
}

.live-portfolio-link {
  text-decoration: none;
  background-color: #BE95C4;
  border-radius: 9px;
  padding: 10px 15px;
  color: #FFFFFF;
  letter-spacing: 1px;
  font-size: 16px;
}

.live-portfolio-link:hover {
  background-color: #5E548E;
}

.github-repos {
  margin: 0;
  /* padding-top: 15px; */
}

.github-repo-link {
  text-decoration: none;
  color: #1c1435;
  letter-spacing: 0.5px;
  font-weight: 500;
  display: inline-block;
  margin-top: 0px;
  padding: 0 10px 10px;
}

.github-icon {
  width: 45px;
  margin: 14px 14px 0;
}

.github-repo-link:hover {
  color: #BE95C4;
}

.github-icon:hover {
  background-color: #BE95C4;
  border-radius: 100%;
}

/* BRANDING ONLY STYLES */

.photo-bank {
  width: 100%;
  margin: 0 auto;
}

.project-photos-row {
  width: 100%;
  border-radius: 5px;
}

.project-photos-column {
  width: 100%;
  margin-bottom: 20px;
}

/* ============================ 
MEDIA QUERIES
============================*/

/* tablet */

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .close-portfolio {
    font-size: 30px;
  }
  .portfolio-project {
    width: 90%;
  }
  .project-title,
  .branding-project-title {
    font-size: 60px;
    line-height: 40px;
  }
  .opening-sequence {
    padding-top: 20px;
  }
  .photo-link {
    width: 100%;
  }
  .project-responsive-mock,
  .branding-project-responsive-mock {
    width: 80%;
  }
  .project-tagline {
    display: none;
  }
  .project-services {
    font-size: 20px;
  }
  .project-summary,
  .design-project-summary {
    font-style: italic;
    font-size: 18px;
    margin: 20px auto 25px;
    color: #1c1435;
    width: 80%;
  }
  .github-icon {
    width: 60px;
  }
  .github-repo-link {
    padding: 0 12px 20px;
    font-size: 20px;
  }
  .desktop-only {
    display: initial;
  }
  .live-portfolio-par {
    padding: 15px 0;
  }
  /* BRANDING ONLY STYLES */
  .photo-bank {
    width: 100%;
  }
}

/* desktop */

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .close-portfolio {
    font-size: 40px;
    margin-left: 40px;
  }
  .portfolio-project {
    width: 95%;
  }
  .opening-sequence {
    display: inline-flex;
    padding: 15px 0;
  }
  .branding-main-photo {
    width: 85%;
  }
  .project-title,
  .branding-project-title {
    font-size: 70px;
    line-height: 80px;
  }
  .project-responsive-mock,
  .branding-project-responsive-mock {
    width: 100%;
  }
  .photo-link {
    width: 100%;
  }
  .description-block {
    width: 30%;
    margin-top: 75px;
  }
  .project-tagline {
    display: inline-block;
    padding: 0;
    font-size: 20px;
    margin-top: 30px;
  }
  .project-services {
    font-size: 30px;
  }
  .project-summary {
    font-size: 18px;
    margin: 40px 30px;
    width: 50%;
    text-align: left;
  }
  .live-portfolio-par {
    margin-top: 35px;
    padding: 15px 0 25px;
  }
  .live-portfolio-link {
    font-size: 23px;
  }
  .github-icon {
    margin: 0 20px;
  }
  .github-repo-link {
    font-size: 20px;
    padding: 0 18px 20px;
  }
  /* BRANDING ONLY STYLES */
  .design-project-summary {
    font-size: 18px;
    margin: 10px 30px 0;
    width: 50%;
    text-align: left;
  }
  .photo-bank {
    display: inline-flex;
    width: 100%;
    margin: 0 auto;
  }
  .project-photos-row {
    width: 33%;
    height: 100%;
    margin: 0 auto;
  }
  .project-photos-column {
    margin-bottom: 25px;
  }
}