/* https: //coolors.co/543c27-d7cab6-2c8199-fcfcf7-727272 */

/* Extra small (mobile phone - portrait) */

.gallery {
  padding: 0 9%;
  margin: 0 auto;
}

.photo-header {
  padding: 9%;
  color: #543C27;
  font-weight: 300;
}

/* ============================ 
MEDIA QUERIES
============================*/

/* Small (mobile phone - landscape) */

@media screen and (min-width: 576px) {}

/* Medium (tablet) */

@media screen and (min-width: 768px) {}

/* Large (laptop) */

@media screen and (min-width: 992px) {}

/* Extra large (desktop) */

@media screen and (min-width: 1200px) {
  .gallery {
    padding: 0 7%;
  }
  .photo-header {
    padding: 7%;
  }
  .why-photography {
    font-size: 20px;
  }
}