.about-me-component {
  background-color: rgba(224, 177, 203, 0.6);
  /* height: 100vh; */
  padding: 15px 0;
}

.about-me-title {
  font-weight: 200;
  text-align: center;
  color: #5E548E;
  font-size: 25px;
  margin: 0;
  letter-spacing: 2px;
}

.pic-div {
  display: flex;
  padding: 30px 0px;
}

.personal-pic {
  height: 120px;
  width: 120px;
  border-radius: 5px;
  margin: auto;
}

.about-me-div {
  width: 80%;
  margin: auto;
}

.skillset-area {

}

.skillset-div {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 15px 0;
}

.skillset-title {
  text-align: center;
  padding: 10px 0;
  margin: 0;
  color: #5E548E;
  font-weight: 300;
}

.skillset-text {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  margin: 0;
  color: #1C1435;
  font-weight: lighter;
}

.about-me-text {
  font-size: 14px;
}