/**
 * coolors.co/1c1435-5e548e-9f86c0-be95c4-e0b1cb
 */

.about-me-component {
  background-color: rgba(224, 177, 203, 0.6);
  /* height: 100vh; */
  padding: 15px 0;
}

.about-me-title {
  font-weight: 200;
  text-align: center;
  color: #5E548E;
  font-size: 25px;
  margin: 0;
  letter-spacing: 2px;
}

.pic-div {
  width: 80%;
  margin: 15px auto;
  text-align: center;
  padding: 5px 20px;
}

.personal-pic {
  height: 150px;
  width: 150px;
  border-radius: 5px;
  margin: auto;
}

.about-me-div {
  width: 80%;
  margin: auto;
}

.personality {
  font-weight: 300;
  font-size: 14px;
}

.skillset-area {}

.skillset-div {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 15px 0;
}

.skillset-title {
  text-align: center;
  padding: 10px 0;
  margin: 0;
  color: #5E548E;
  font-weight: 300;
}

.skillset-text {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  margin: 0;
  color: #1C1435;
  font-weight: lighter;
}

.about-me-text {
  font-size: 14px;
}

/* ============================ 
MEDIA QUERIES
============================*/

/* tablet */

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {}

/* desktop */

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .skillset-area {
    display: flex;
  }
  .about-me-div {
    width: 75%;
  }
  .skillset-div {
    margin: 15px;
    width: 45%;
  }
  .pic-div {
    display: flex;
    width: 60%;
  }
  .personality {
    margin-left: 25px;
    align-self: center;
  }
}