.contact-component {
  height: 50px;
}

.social-media-icons {
height: 50px;
padding: 10px;
text-align: center;
}

.copyright-info {
  font-size: 10px;
  text-align: center;
  margin: 0;
  color: #1C1435;
}


/* ============================ 
MEDIA QUERIES
============================*/

/* tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {}

/* desktop */
@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {}