/**
 * coolors.co/1c1435-5e548e-9f86c0-be95c4-e0b1cb
 */

.home-component {
  background-image: url('../images/mobile_phone_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-arrow {
  text-align: right;
}

.navigation {
  display: none;
}

.menu-button,
.menu-button-clicked {
  position: absolute;
  background-color: transparent;
  height: 35px;
  width: 90px;
  border: none;
  margin: 15px 10px;
  color: #5E548E;
  right: 10px;
  top: 10px;
  text-align: right;
  font-size: 30px;
}

.menu-button-clicked {
  /* color: #ffffff; */
  /* background-color: #1c1435; */
  color: #1c1435;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 90px;
}

.menu-hashlink {
  text-decoration: none;
  /* background-color: #1c1435; */
  /* color: #ffffff; */
  color: #5E548E;
  padding: 5px 5px;
  margin: 0 5px;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.name {
  display: flex;
  justify-content: center;
  font-size: 36px;
  /* height: 85px; */
  /* padding-top: 120px; */
  margin-top: 230px;
}

.first-name {
  font-weight: 500;
  color: #5E548E;
}

.middle-name {
  color: #9F86C0;
  font-weight: 200;
}

.title {
  margin: 0 auto;
  font-size: 18px;
  /* padding-top: 60px; */
  /* height: 80px; */
}

.job-description {
  color: #1C1435;
  font-size: 16px;
  text-align: center;
  width: 75%;
  margin: 0px auto;
}

.home-social-media-icons {
  height: 50px;
  padding: 10px;
  text-align: center;
  margin: 30px 5px 20px;
}

/* .to-portfolio-btn {
  border: 2px solid #5E548E;
  background-color: transparent;
  width: 35%;
  padding: 8px;
  margin: 50px auto 30px;
} */

/* .to-portfolio-hashlink {
  color: #1c1435;
  text-decoration: none;
  padding: 1em 2em;
  margin: -9em;
  font-size: 14px;
} */

/* ============================ 
MEDIA QUERIES
============================*/

/* tablet */

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .home-component {
    background-image: url('../images/tablet_bg.png');
  }
  .navigation {
    margin: 40px auto;
  }
  .menu-button,
  .menu-button-clicked {
    height: 45px;
    width: 140px;
    right: 36px;
    top: 25px;
    font-size: 50px;
  }
  .dropdown-menu {
    top: 84px;
    right: 46px;
    width: 140px;
  }
  .menu-hashlink {
    font-size: 25px;
  }
  .name {
    font-size: 80px;
    margin-top: 300px;
  }
  .title {
    /* margin: 80px auto 10px; */
    font-size: 40px;
  }
  .job-description {
    font-size: 32px;
    /* margin: 55px auto; */
  }
  .to-portfolio-btn {
    width: 30%;
    padding: 12px;
  }
  .to-portfolio-hashlink {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 1em 4em;
  }
}

/* desktop */

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .menu-button {
    display: none;
  }
  .navigation {
    display: inherit;
    margin: 45px;
    /* float: right; */
    text-align: center;
  }
  .home-component {
    background-image: url('../images/full_size_bg.png');
  }
  .menu-button,
  .menu-button-clicked {
    height: 60px;
    width: 140px;
    right: 70px;
    top: 50px;
    font-size: 40px;
  }
  .dropdown-menu {
    top: 125px;
    right: 80px;
    width: 140px;
  }
  .menu-hashlink {
    font-size: 20px;
    padding: 5px 15px;
  }
  .menu-hashlink:hover {
    text-decoration: underline;
  }
  .name {
    font-size: 120px;
    margin-top: 110px;
    height: 150px;
    /* padding-top: 170px; */
  }
  .first-name {
    margin: 0;
  }
  .middle-name {
    margin: 0;
  }
  .title {
    /* margin: 20px auto; */
    font-size: 65px;
  }
  .job-description {
    font-size: 50px;
    /* margin: 65px auto 0; */
  }
  .to-portfolio-btn {
    width: 20%;
    /* padding: 20px; */
    margin-top: 30px;
  }
  .to-portfolio-hashlink {
    font-size: 30px;
    letter-spacing: 1px;
  }
}