/**
 * coolors.co/1c1435-5e548e-9f86c0-be95c4-e0b1cb
 */

.home-component {
  background-image: url('../images/mobile_phone_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.name {
  display: flex;
  justify-content: center;
  font-size: 36px;
  margin-top: 160px;
}

.first-name {
  font-weight: 500;
  color: #5E548E;
}

.middle-name {
  color: #9F86C0;
  font-weight: 200;
}

.title {
  margin: 0 auto;
  font-size: 18px;
}

.job-description {
  color: #1C1435;
  font-size: 16px;
  text-align: center;
  width: 75%;
  margin: 0px auto;
}

.home-social-media-icons {
  height: 50px;
  padding: 10px;
  text-align: center;
  margin: 30px 5px 20px;
}

/* ============================ 
MEDIA QUERIES
============================*/

/* tablet */

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .home-component {
    background-image: url('../images/tablet_bg.png');
  }
  .name {
    font-size: 80px;
    margin-top: 240px;
  }
  .title {
    font-size: 40px;
  }
  .job-description {
    font-size: 32px;
  }
  .to-portfolio-btn {
    width: 30%;
    padding: 12px;
  }
  .to-portfolio-hashlink {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 1em 4em;
  }
}

/* desktop */

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .home-component {
    background-image: url('../images/full_size_bg.png');
  }
  .name {
    font-size: 120px;
    margin-top: 150px;
    height: 150px;
  }
  .first-name {
    margin: 0;
  }
  .middle-name {
    margin: 0;
  }
  .title {
    font-size: 65px;
  }
  .job-description {
    font-size: 50px;
  }
  .to-portfolio-btn {
    width: 20%;
    margin-top: 30px;
  }
  .to-portfolio-hashlink {
    font-size: 30px;
    letter-spacing: 1px;
  }
}