/**
 * coolors.co/1c1435-5e548e-9f86c0-be95c4-e0b1cb
 */

.logo-component {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  padding-top: 100px;
}

.name {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.first-name {
  font-weight: 500;
  font-size: larger;
  color: #5E548E;
}

.middle-name {
  font-size: larger;
  color: #9F86C0;
  font-weight: 200;
}

.title {
  display: flex;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
}

.job-description {
  color: #E0B1CB;
}