.nav-component {
  display: flex;
  height: 70px;
}

.social-media-link {
  color: #000000;
  height: 10;
  width: 10;
}

.navigation-links {
  display: flex;
}

.social-icon {
  height: 100px;
  width: 100px;
}