/**
 * coolors.co/1c1435-5e548e-9f86c0-be95c4-e0b1cb
 */

.portfolio-component {
  background-color: #ffffff;
}

.portfolio-title {
  font-weight: 300;
  text-align: center;
  color: #5E548E;
  font-size: 35px;
  letter-spacing: 2px;
}

.project-one,
.project-two,
.project-three,
.project-four,
.project-five {
  border-bottom: 3px solid #5e548e;
}

.project-one,
.project-two,
.project-three,
.project-four,
.project-five,
.project-six {
  width: 85%;
  padding: 25px 0;
  margin: 0 auto;
  text-align: center;
}

.portfolio-responsive-mock {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 3px 3px rgba(94, 84, 142, 0.7);
}

.portfolio-responsive-mock:hover {
  opacity: 0.7;
}

.portfolio-project-title {
  text-align: center;
  color: #5E548E;
  margin: 10px 0 auto;
  padding-top: 5px;
  font-size: 35px;
  font-weight: 600;
  text-decoration: none;
  line-height: 35px;
}

.portfolio-project-title:hover {
  /* border-bottom: 3px double #5E548E; */
  /* font-style: italic; */
  font-kerning: 20px;
}

.portfolio-services {
  font-size: 17px;
  letter-spacing: 1px;
  margin: 0 0 15px 0;
  color: #9F86C0;
}

.portfolio-project-tagline {
  font-style: italic;
  font-size: 18px;
  margin: 40px auto;
  color: #1c1435;
}

.live-portfolio-par {
  padding: 9px;
}

.live-portfolio-link {
  text-decoration: none;
  background-color: #BE95C4;
  border-radius: 9px;
  padding: 10px 15px;
  color: #FFFFFF;
  letter-spacing: 1px;
  font-size: 16px;
}

.live-portfolio-link:hover {
  background-color: #5E548E;
}

.github-repos {
  margin: 0;
  padding-top: 15px;
}

.github-repo-link {
  text-decoration: none;
  color: #1c1435;
  letter-spacing: 0.5px;
  font-weight: 500;
  display: inline-block;
  margin-top: 0px;
  padding: 10px;
}

.github-icon {
  width: 45px;
  margin: 14px;
}

.github-repo-link:hover {
  color: #BE95C4;
}

.github-icon:hover {
  background-color: #BE95C4;
  border-radius: 100%;
}

/* ============================ 
MEDIA QUERIES
============================*/

/* tablet */

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .row-one,
  .row-two {
    margin: 0 70px;
  }
  .portfolio-project-title {
    font-size: 47px;
  }
  .portfolio-services {
    font-size: 25px;
  }
  .portfolio-responsive-mock {
    box-shadow: 5px 5px rgba(94, 84, 142, 0.7)
  }
  .portfolio-project-tagline {
    font-size: 24px;
  }
  .github-icon {
    width: 60px;
  }
  .github-repo-link {
    padding: 18px;
    font-size: 20px;
  }
}

/* desktop */

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .row-one,
  .row-two {
    display: flex;
    padding-bottom: 20px;
  }
  .project-one,
  .project-two,
  .project-three,
  .project-four,
  .project-five,
  .project-six {
    width: 30%;
  }
  .project-one,
  .project-two,
  .project-three,
  .project-four,
  .project-five {
    border: none;
  }
  .portfolio-component {
    min-height: 100vh;
  }
  .portfolio-title {
    margin-bottom: 60px;
    font-size: 55px;
  }
  .portfolio-services {
    font-size: 22px;
  }
  .portfolio-project-tagline {
    padding: 0 25px;
    font-size: 20px;
  }
  .live-portfolio-link {
    font-size: 18px;
  }
  .github-repo-link {
    font-size: 20px;
  }
  .portfolio-project-title {
    line-height: 45px;
  }
}