@import 'variables';
/* Extra small (mobile phone - portrait) */

.contact {
  padding: 9%;
  color: $brown;
}

.opportunities,
.copyright-info {
  font-weight: $medium;
}

.contact-resume-info,
.contact-info {
  padding-top: 15px;
  font-weight: $light;
}

.contact-link {
  color: $seaBlue;
}

.social-media-icons,
.copyright-info {
  text-align: center;
}

/* ============================ 
MEDIA QUERIES
============================*/

/* Small (mobile phone - landscape) */

@media screen and (min-width: 576px) {}

/* Medium (tablet) */

@media screen and (min-width: 768px) {}

/* Large (laptop) */

@media screen and (min-width: 992px) {
  .contact {
    padding: 7%;
  }
  .opportunities,
  .copyright-info {
    font-size: 36px;
  }
  .contact-info,
    {
    font-size: 28px;
    margin-top: 20px;
  }
}

/* Extra large (desktop) */

@media screen and (min-width: 1200px) {}