@import 'variables';
/* Extra small (mobile phone - portrait) */

.header,
.header-large {
  padding: 9%;
  background-image: $headerBg;
  background-position: bottom;
  background-size: cover;
}

.header {
  height: 37vh;
}

.header-large {
  height: 42vh;
}

.header-title {
  color: $creme;
  font-size: 34px;
  font-weight: $bold;
  line-height: 40px;
  text-align: center;
  padding-top: 65px;
}

.header-tagline {
  font-size: 17px;
  color: $creme;
  text-align: center;
}

/* ============================ 
MEDIA QUERIES
============================*/

/* Small (mobile phone - landscape) */

@media screen and (min-width: 576px) {}

/* Medium (tablet) */

@media screen and (min-width: 768px) {}

/* Large (laptop) */

@media screen and (min-width: 992px) {
  .header,
  .header-large {
    padding: 2% 7% 7%;
    height: 35vh;
  }
  .header-title {
    font-size: 60px;
    padding-top: 100px;
  }
  .header-tagline {
    font-size: 20px;
    margin-top: 15px;
  }
}

/* Extra large (desktop) */

@media screen and (min-width: 1200px) {
  .header,
  .header-large {
    padding: 2% 7% 7%;
    height: 35vh;
  }
  .header-title {
    font-size: 80px;
    padding-top: 85px;
  }
  .header-tagline {
    font-size: 30px;
    padding-top: 25px;
  }
}