@import 'variables';
/* Extra small (mobile phone - portrait) */

.branding,
.brand-project {
  padding: 9%;
  color: $brown;
}

.branding {
  font-weight: $light;
}

.brand-project {
  border-bottom: 5px double $seaBlue;
  border-bottom-width: thick;
}

.brand-block-photo,
.brand-block-photo-2,
.brand-rectangle-photo {
  width: 100%;
  margin-bottom: 10px;
}

.brand-name {
  font-weight: $medium;
}

.brand-summary {
  font-weight: $light;
  margin: 10px 0 25px;
}

/* ============================ 
MEDIA QUERIES
============================*/

/* Small (mobile phone - landscape) */

@media screen and (min-width: 576px) {}

/* Medium (tablet) */

@media screen and (min-width: 768px) {
  .branding {
    padding: 9% 9% 0;
  }
  .why-brands,
  .brand-summary {
    font-size: 18px;
  }
  .brand-name {
    font-size: 28px;
  }
}

/* Large (laptop) */

@media screen and (min-width: 992px) {
  .branding {
    padding: 7% 7% 0;
  }
  .why-brands,
  .brand-summary {
    font-size: 20px;
  }
  .brand-project {
    padding: 7%;
  }
  .brand-name {
    font-size: 36px;
  }
  .brand-flex-1 {
    display: flex;
  }
  .brand-block-photo {
    width: 55%;
    height: 1%;
    margin-left: 10px;
  }
  .brand-flex-2 {
    display: flex;
  }
  .brand-block-photo-2 {
    height: 1%;
    width: 50.5%;
    padding-right: 10px;
  }
}

/* Extra large (desktop) */

@media screen and (min-width: 1200px) {}