@import 'variables';
/* Extra small (mobile phone - portrait) */

.resume-topper {
  border-bottom: 5px double $seaBlue;
  border-bottom-width: thick;
}

.resume-one,
.resume-two {
  padding: 4% 9%;
  width: 100%;
}

.resume-one-details {
  border-top: 4px solid $brown;
  margin-top: 10px;
}

.resume-one,
.resume-text>a {
  background-color: $seaBlue;
  color: $creme;
}

.resume-two {
  color: $brown;
}

.h1 {
  font-size: 36px;
}

.h2 {
  font-size: 30px;
  font-weight: $light;
  line-height: 30px;
  padding: 0 0 10px;
}

.h3 {
  font-weight: $light;
  color: $tan;
}

.resume-header {
  color: $seaBlue;
  margin-bottom: 8px;
}

.resume-header-blue {
  color: $tan;
  font-weight: $bold;
  margin-top: 10px;
}

.resume-header-white {
  color: $seaBlue;
  font-weight: $bold;
  margin-top: 15px;
  text-decoration: underline;
}

.bold-title {
  margin-top: 10px;
}

li>span {
  font-weight: $medium;
}

.resume-text {
  font-weight: $light;
}

.resume-link::before {
  content: '[';
  margin-left: -5px;
}

.resume-link::after {
  content: ']';
  margin-right: -5px;
}

.resume-link::before,
.resume-link::after {
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}

.resume-link:hover::before,
.resume-link:focus::before {
  margin-right: 5px;
  opacity: 1;
  transform: translateX(10px);
}

.resume-link:hover::after,
.resume-link:focus::after {
  margin-left: 5px;
  opacity: 1;
  transform: translateX(-10px);
}

/* ============================ 
MEDIA QUERIES
============================*/

/* Small (mobile phone - landscape) */

@media screen and (min-width: 576px) {}

/* Medium (tablet) */

@media screen and (min-width: 768px) {
  .resume-one {
    display: flex;
  }
  .resume-one-details {
    border-top: none;
    border-left: 4px solid $brown;
    margin-left: 30px;
    margin-top: 0px;
    padding-left: 30px;
  }
  .h1 {
    font-size: 48px;
    line-height: 48px;
  }
  .h2 {
    font-size: 40px;
    padding-top: 15px;
  }
  .h3 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 20px;
  }
  .resume-header-white {
    font-size: 25px;
  }
}

/* Large (laptop) */

@media screen and (min-width: 992px) {
  .resume-one {
    display: initial;
  }
  .resume-topper {
    border-bottom: none;
    display: table-row;
  }
  .resume-one,
  .resume-two {
    padding: 4%;
    display: table-cell;
  }
  .resume-one {
    width: 30%;
    height: 1500px;
  }
  .resume-one-details {
    border-top: 4px solid $brown;
    border-left: none;
    margin-top: 30px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .resume-two {
    width: 65%;
  }
  .resume-three {
    width: 100%;
  }
  .resume-header-blue {
    margin-top: 30px;
  }
  .h1 {
    font-size: 70px;
    line-height: 70px;
  }
  .h2 {
    font-size: 50px;
  }
  .h3 {
    font-size: 30px;
  }
}

/* Extra large (desktop) */

@media screen and (min-width: 1200px) {
  .h1 {
    font-size: 70px;
    line-height: 70px;
  }
  .h2 {
    font-size: 50px;
  }
  .h3 {
    font-size: 30px;
  }
  .resume-header-white {
    font-size: 25px;
  }
}

// Resource: https://stackoverflow.com/questions/2997767/how-do-i-keep-two-side-by-side-divs-the-same-height