@import 'variables';
/* Extra small (mobile phone - portrait) */

// .resume {
//   padding: 9%;
//   width: 100%;
// }
.resume-topper {
  border-bottom: 5px double #2C8199;
  border-bottom-width: thick;
}

.resume-one,
.resume-two {
  padding: 4% 9%;
  width: 100%;
}

.resume-one {
  background-color: $seaBlue;
  color: $creme;
}

.resume-two {
  color: $brown;
}

.h1 {
  font-size: 36px;
}

.h2 {
  font-size: 30px;
  font-weight: $light;
  line-height: 30px;
  padding: 0 0 10px;
}

.h3 {
  font-weight: $light;
  color: $tan;
}

.resume-header {
  color: #2C8199;
  margin-bottom: 8px;
}

.resume-header-blue {
  color: #D7CAB6;
  font-weight: $bold;
  margin-top: 10px;
}

.resume-header-white {
  color: #2C8199;
  font-weight: $bold;
  margin-top: 15px;
  text-decoration: underline;
}

li>span {
  font-weight: $medium;
}

.resume-text {
  font-weight: $light;
}

/* ============================ 
MEDIA QUERIES
============================*/

/* Small (mobile phone - landscape) */

@media screen and (min-width: 576px) {}

/* Medium (tablet) */

@media screen and (min-width: 768px) {}

/* Large (laptop) */

@media screen and (min-width: 992px) {
  .resume-topper {
    border-bottom: none;
  }
  .resume-one,
  .resume-two {
    padding: 4%;
  }
  .resume-one {
    width: 30%;
    height: 1500px;
  }
  .resume-two {
    width: 65%;
  }
  .resume-three {
    width: 100%;
  }
  .resume-topper {
    display: flex;
  }
  .h1 {
    font-size: 48px;
    line-height: 48px;
  }
  .h2 {
    font-size: 40px;
    padding-top: 15px;
  }
  .h3 {
    padding: 10px 0 25px;
    font-size: 21px;
  }
}

/* Extra large (desktop) */

@media screen and (min-width: 1200px) {}