// colors - https://coolors.co/543c27-d7cab6-2c8199-fcfcf7-727272
$brown: #543C27;
$tan: #D7CAB6;
$seaBlue: #2C8199;
$creme: #FCFCF7;
$nickel: #727272;
// font weights
$light: 300;
$medium: 500;
$bold: 600;
// background images
$headerBg: url('../../images/header-bokeh.png');
$introMobileBg: url('../../images/header-bokeh.png');
$introTabletBg: url('../../images/header-bokeh.png');
$introDesktopBg: url('../../images/header-bokeh.png');