/* Extra small (mobile phone - portrait) */
/* home page */
.case-studies {
  background-color: #2C8199;
  padding: 9%;
}

.cs-title {
  font-size: 36px;
  color: #FCFCF7;
  font-weight: 500;
}

.cs-mockup {
  width: 100%;
  margin-top: 30px;
}

.cs-mockup-title {
  color: #FCFCF7;
  font-size: 18px;
  font-weight: 300;
}

.link {
  text-decoration: none;
}

/* individual pages */
.safer,
.foodie-phonetics,
.for-the-win {
  color: #543C27;
}

.project-info,
.standouts,
.photo-bank {
  padding: 9%;
}

.dev-mockup,
.project-photo {
  width: 100%;
}

.project-summary {
  margin-top: 15px;
  font-weight: 300;
}

.project-details {
  padding: 13% 9% 0;
  text-align: center;
}

.live-portfolio-link,
.github-repo-link {
  color: #543C27;
}

.view-website {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 22px;
}

.github-icon {
  width: 50px;
  margin: 0 4%;
}

.github-repo-link {
  margin: 0 4%;
}

.standout-title {
  font-weight: 500;
  margin-bottom: 5px;
}

.standout-details {
  margin-bottom: 35px;
  font-weight: 300;
}

.photo-bank {
  background-color: #2C8199;
}

.project-photo {
  padding: 3% 0;
}

/* ============================ 
MEDIA QUERIES
============================*/
/* Small (mobile phone - landscape) */
@media screen and (min-width: 576px) {
  /* home page */
  .cs-mockup-title {
    font-size: 35px;
  }

  /* individual pages */
  .github-repo-link {
    margin: 0 6%;
    font-size: 21px;
  }
}
/* Medium (tablet) */
@media screen and (min-width: 768px) {
  /* home page */
  .cs-title {
    font-size: 50px;
  }

  .cs-mockup-title {
    font-size: 45px;
  }

  /* individual pages */
  .project-summary,
.standout-details {
    font-size: 18px;
  }

  .project-info {
    padding: 9% 9% 0;
  }

  .github-icon {
    width: 70px;
  }

  .github-repo-link {
    margin: 0 5%;
  }
}
/* Large (laptop) */
@media screen and (min-width: 992px) {
  /* home page */
  .case-studies {
    padding: 7%;
  }

  .cs-3x1 {
    display: flex;
    flex-wrap: wrap;
  }

  .cs-mockup,
.cs-mockup-title {
    padding: 0 7%;
  }

  .project-one,
.project-two,
.project-three {
    width: 50%;
  }

  .cs-title {
    font-size: 48px;
  }

  .cs-mockup-title {
    font-size: 40px;
  }

  /* individual pages */
  .project-info,
.standouts,
.photo-bank {
    padding: 7%;
  }

  .project-info {
    display: flex;
  }

  .dev-mockup {
    width: 60%;
    height: 1%;
  }

  .project-details,
.project-summary {
    margin-left: 30px;
  }

  .project-summary {
    font-size: 20px;
  }

  .fp-about {
    margin-top: 35px;
  }

  .ftw-about {
    margin-top: 55px;
  }

  .github-icon {
    width: 60px;
  }

  .github-repo-link {
    margin: 0 4%;
  }

  .project-details {
    padding: 5% 10% 0;
  }

  .standouts {
    display: flex;
  }

  .standout-block {
    width: 32%;
    margin-right: 20px;
  }

  .standout-title {
    font-size: 32px;
  }

  .standout-details {
    font-size: 20px;
  }
}
/* Extra large (desktop) */
@media screen and (min-width: 1200px) {
  /* home page */
  .case-studies {
    padding: 7%;
  }

  .cs-mockup,
.cs-mockup-title {
    padding: 0 7%;
  }

  .cs-title {
    font-size: 48px;
  }

  .cs-mockup-title {
    font-size: 45px;
  }

  /* individual pages */
  .project-info,
.standouts,
.photo-bank {
    padding: 7%;
  }

  .project-info {
    display: flex;
  }

  .dev-mockup {
    width: 60%;
    height: 1%;
  }

  .project-details,
.project-summary {
    margin-left: 30px;
  }

  .project-summary {
    font-size: 20px;
  }

  .fp-about {
    margin-top: 35px;
  }

  .ftw-about {
    margin-top: 55px;
  }

  .project-details {
    padding: 5% 10% 0;
  }

  .standouts {
    display: flex;
  }

  .standout-block {
    width: 32%;
    margin-right: 20px;
  }

  .standout-title {
    font-size: 32px;
  }

  .standout-details {
    font-size: 20px;
  }
}

/*# sourceMappingURL=caseStudies.css.map */
